:root {
    --body-background-color: #F5F5F5;
    ;
    --hover-color: #2196f3;
    --text-articl-color: #757575;
    --text-title-color: #212121;
    --footer-color: #2F303A;
    --black-color: #000000;
    --white-cololr: #FFFFFF;
    --team-section-color: #F5F4FA;
    --info-footer-color: #ffffff99;
    --btn-hover-color: #188CE8;
    --border-color-image: #EEEEEE;
    --header-border: #ECECEC;
    --icon-team-color: #AFB1B8;
    --bg-color-icon: background: rgba(255, 255, 255, 0.1);
    --hero-color: #C4C4C4;
    --bgc-works: rgba(47, 48, 58, 0.8);
    --bgc-cards-overlay: rgba(33, 150, 243, 0.9);
    --bgc-backdrop: rgba(0, 0, 0, 0.2);
    --border-color-form-modal:rgba(33, 33, 33, 0.2);
    --text-color-form-textarea:rgba(117, 117, 117, 0.5);

    --transition-duration: 250ms;
    --t-timing-f: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-title-color);
}


/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/*!Oбнуления базовых свойств*/
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
    text-decoration: none;
    color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}

li {
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



/**header section*/
/*logo*/

.header {
    border-bottom: 1px solid var(--header-border);
}

/*Подсветка страницы на которой находимся*/
.link-nav.current {
    color: var(--hover-color);
}

.link-nav.current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}

.nav-box {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--black-color);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-web-header {
    color: var(--hover-color);
}

.header-list {
    display: flex;
    padding-left: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}

.header-item {
    margin-left: 50px;
}

.header-item:first-child {
    margin-left: 0;
}

.header-info {
    display: flex;
}

.link-nav {
    position: relative;
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-title-color);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.link-nav:hover,
.link-nav:active,
.link-nav:focus {
    color: var(--hover-color);
}

.header-info-item:not(:first-child) {
    margin-left: 50px;
}

.header-info.list {
    margin-left: auto;
}


.link-info-icon {
    margin-right: 10px;
    fill: currentColor;
}

.link-info {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-articl-color);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.link-info:hover,
.link-info:active,
.link-info:focus 
{
color: var(--hover-color);
}


/**footer*/
.footer {
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-blocks {
    display: flex;
    align-items: baseline;
}

.logo-link-footer {
    margin-bottom: 20px;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
    color: var(--white-cololr);
}

.logo-web-footer {
    color: var(--hover-color);
}

.address {
    margin-top: 20px;
}

.address-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.address-item {
    margin-bottom: 9px;
}

.address-item:last-child {
    margin-bottom: 0;
}

.address-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-cololr);
    font-style: normal;
    text-decoration: none;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--info-footer-color);
    font-style: normal;
    text-decoration: none;

    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.address-link:hover,
.address-map:hover,
.address-link:active,
.address-map:active,
.address-link:focus,
.address-map:focus {
    color: var(--hover-color);
}

.footer-social {
    width: 206px;
    height: auto;
    margin-left: 70px;
}

.footer-icon-title,
.footer-subscribe-title
{
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-cololr)
}

.footer-icon {
    display: flex;
    align-items: center;
}

.footer-icon-item {
    width: 44px;
    height: 44px;

}

.footer-icon-item:not(:last-child) {
    margin-right: 10px;
}

.footer-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--white-cololr);
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.footer-icon-link:hover,
.footer-icon-link:active,
.footer-icon-link:focus {
    background-color: var(--hover-color);
}

.footer-icon-style {
    fill: currentColor;
}

.footer-subscribe {
    height: auto;
    margin-left: 93px;
}

.footer-subscribe-block {
    display: flex;
}

.footer-subscribe-area {
    width: 358px;
    height: auto;
    background-color: inherit;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: rgba(255, 255, 255, 0.6);
    
  
}


.footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--white-cololr);

    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color var(--transition-duration) var(--t-timing-f);
}

.footer-subscribe-button:hover {
    background-color: var(--btn-hover-color);
}

.footer-subscribe-icon {
    fill: currentColor;
    margin-left: 12px;
}

/**Webstudio page*/
/*Hero section*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--hero-color);
    list-style-type: none;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    width: 1600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white-cololr);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.btn-hero {
    padding: 10px 32px;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--white-cololr);
    letter-spacing: 0.06em;

    cursor: pointer;

    transition-property: background-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.btn-hero:hover,
.btn-hero:active {
    background-color: var(--btn-hover-color);
}



/*our benefits section*/
.benefits {
    list-style-type: none;
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list {
    display: flex;
    padding: 0;
}

.benefits-item {
    flex-basis: 270px;
    margin-left: 30px;
}

.benefits-item:first-child {
    margin-left: 0px;
}

.benefits-icon-feel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--team-section-color);
    margin-bottom: 30px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.benefits-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-title-color);
    letter-spacing: 0.03em;
}

.benefits-texts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-articl-color);
    letter-spacing: 0.03em;
}

/*our works section*/
.work-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--text-title-color);
    letter-spacing: 0.03em;
}

.work {
    display: flex;
    list-style-type: none;
    padding-bottom: 94px;
}

.work-item {
    display: inline-block;
}

.work-item:not(:last-child) {
    margin-right: 30px;
}


.work-thumb {
    position: relative;
}

.work-text {
    position: absolute;
    bottom: 0;

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    background-color: var(--bgc-works);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.87;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-cololr);
}


/*our team section*/
.team {
    background-color: var(--team-section-color);
    list-style-type: none;
}

.section.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team.list {
    display: flex;
}

.team-item {
    width: 270px;
    background-color: var(--white-cololr);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:first-child) {
    margin-left: 30px;
}


.team-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--text-title-color);
    letter-spacing: 0.03em;
}

.name-title {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

.team-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-title-color);
    text-align: center;
    letter-spacing: 0.03em;
}

.team-text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-articl-color);
    text-align: center;
    letter-spacing: 0.03em;
}

.team-icon {
    display: flex;
    justify-content: center;
}

.team-icon-item:not(:first-child) {
    margin-left: 10px;
}

.team-icon-item {
    width: 44px;
    height: 44px;
}

.team-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--icon-team-color);

    transition-property: background-color, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.team-icon-link:hover,
.team-icon-link:active,
.team-icon-link:focus {
    background-color: var(--hover-color);
    color: var(--white-cololr);
}

.team-icon-social {
    fill: currentColor;
}

.clients-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-title-color);
    margin-bottom: 50px;
}

.clients.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients {
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
}

.clients-item {
    width: 170px;
    height: 92px;
}

.clients-item:not(:first-child) {
    margin-left: 30px;
}

.clients-link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--icon-team-color);
    border-radius: 4px;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;

    color: var(--icon-team-color);

    transition-property: color, border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.clients-link:hover,
.clients-link:active,
.clients-link:focus {
    border-color: var(--hover-color);
    color: var(--hover-color);
}

.clients-link-icon {
    fill: currentColor;
}

/**Portfolio page**/
/*Sorting btn*/
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn-group.list {
    margin-bottom: 56px;
}

.btn-group {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.btn-item:nth-child(n+1) {
    margin-left: 8px;
}

.btn-links {
    padding: 6px 22px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition-property: background-color, color, box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.btn-links:hover,
.btn-links:active,
.btn-links:focus {
    background-color: var(--hover-color);
    color: var(--white-cololr);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Examples works*/
.examples {
    list-style-type: none;
}

.examples.list {
    display: flex;
    flex-wrap: wrap;
}

.examples-item.img {

    margin-bottom: 20px;
}

.examples-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.examples-item:nth-child(3n) {
    margin-right: 0;
}

.examples-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.examples-card {
    display: flex;
    flex-direction: column;

    transition-property: box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.examples-card:hover,
.examples-card:focus,
.examples-card:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}

.examples-card-thumb {
    position: relative;
    overflow: hidden;
}

.examples-card-overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    padding: 63px 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: var(--white-cololr);
    background-color: var(--bgc-cards-overlay);



    transform: translateY(100%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);
}

.examples-item:hover .examples-card-overlay {
    transform: translateY(0);
    opacity: 1;
}

.examples-name {
    padding: 20px 24px;
    border: 1px solid var(--border-color-image);
    border-top: none;
}

.examples-title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-title-color);
}

.examples-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-articl-color);
    letter-spacing: 0.03em;
}


/**Backdrop and model*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bgc-backdrop);

    opacity: 1;

    transition: opacity var(--transition-duration) var(--t-timing-f),
    visibility var(--transition-duration) var(--t-timing-f);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;

    top: 50%;
    left: 50%;


    width: 100%;
    max-width: 528px;

    padding: 40px;

    background-color: var(--white-cololr);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--t-timing-f);

}

.backdrop.is-hidden .modal 
{
transform: translate(-50%, -50%) scale(0.6);
}

.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;

    cursor: pointer;

    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
   transition: fill var(--transition-duration) var(--t-timing-f);
}

.modal-close:hover,
.modal-close:focus,
.modal-close:active
{
    fill: var(--hover-color);
}

.modal-title
{
    display: block;
    margin-bottom: 12px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-title-color);
}

.modal-label
{
    display: block;
    margin-bottom: 4px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--text-articl-color);
}

.user-form-box
{
    position: relative;
    margin-bottom: 10px;
}

.user-form-input
{
    width: 100%;
    height: 40px;
    padding: 0 15px 0 42px;

    border: 1px solid var(--border-color-form-modal);
    border-radius: 4px;
    outline: none;
    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);

}

.user-form-input:focus,
.user-form-input:hover,
.user-form-input:active

{
border-color: var(--hover-color);
}

.user-form-input:hover + .user-form-icon,
.user-form-input:focus + .user-form-icon,
.user-form-input:active + .user-form-icon
{
    fill: var(--hover-color);
}

.user-form-icon
{
position: absolute;
top: 50%;
left: 15px;
transform: translateY(-50%);
transition-property: fill;
transition-duration: var(--transition-duration);
transition-timing-function: var(--t-timing-f);
}

.user-form-textarea
{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    outline: none;
    border: 1px solid var(--border-color-form-modal);
    border-radius: 4px;
    overflow: auto;
    transition-property: border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--t-timing-f);

    resize: none;
}

.user-form-textarea:hover,
.user-form-textarea:focus,
.user-form-textarea:active
{
    border-color: var(--hover-color);
}

.user-form-textarea::placeholder
{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: var(--text-color-form-textarea);
}


.term-checkbox-labl
{
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 30px;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: var(--text-articl-color);
}

.checkbox
{
    appearance: none;
}
.checkbox:focus ~.term-checkbox-icon,
.checkbox:active ~.term-checkbox-icon,
.checkbox:hover ~.term-checkbox-icon
{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 
        border: 2px solid #212121;
}

.checkbox:checked ~ .term-checkbox-icon
{
    background-color: var(--hover-color);
    background-origin: border-box;
    border-color: var(--hover-color);


}

.term-checkbox-link
{
    color: var(--hover-color);
    text-decoration-skip-ink: none;
    transition: color var(--transition-duration) var(--t-timing-f);
}

.term-checkbox-link:hover,
.term-checkbox-link:focus,
.term-checkbox-link:active
{
    color: var(--btn-hover-color);
}

.term-checkbox-icon
{
position: absolute;
top: 50%;
left: 13px;

transform: translateY(-50%);
width: 16px;
height: 15px;


background: var(--white-cololr);
    border-radius: 2px;
    border: 1.5px solid #212121;
    fill: var(--white-cololr);

    transition: background var(--transition-duration) var(--t-timing-f),
    border-radius var(--transition-duration) var(--t-timing-f),
    border var(--transition-duration) var(--t-timing-f),
    fill var(--transition-duration) var(--t-timing-f);
}


.modal-submit
{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding: 0%;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
 
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
    
        color: var(--white-cololr);

        background: var(--hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        transition: background-color var(--transition-duration) var(--t-timing-f);
}

.modal-submit:hover,
.modal-submit:focus,
.modal-submit:active
{
background-color: var(--btn-hover-color);
}